/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */


/**
 * Navigation bar.
 */
#navigation {
  /* Sometimes you want to prevent overlapping with main div. */
  /* overflow: hidden; */
  background-color: #000;
  //padding: .8em 0;
  .block {
    margin-bottom: 0;
  }

  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %element-invisible;
  }

  /* Main menu and secondary menu links and menu block links. */
  .links,
  .menu {
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      /* A simple method to get navigation links to appear in one line. */
      float: left;
      padding: 0 20px;
      list-style-type: none;
      list-style-image: none;
      height: $nav-height;
      a {
        margin-top: auto;
        margin-bottom: auto;
        padding-top: .7em;
        color: #fff;
        text-decoration: none;
        font-size: 1.5em;
        line-height: 1.25;
      }
    }
    li.is-active {
      background-color: #990303;
    }
  }
}

/* Basic positioning styles shared by primary and secondary tabs. */

#block-menu-block-2 ul.menu {
  @include clearfix;
  list-style: none;
  margin: rhythm(1) 0;
  padding: 0 2px;
  white-space: nowrap;
  li {
    float: left;
    margin: 3px;
    border-bottom: 0 \0/ie;
    list-style-type: none;
    list-style-image: none;
    a {
      @include adjust-leading-to(1);
      @include transition(background-color 0.3s);
      border-right: 0;
      border-bottom: 0;
      display: block;
      text-decoration: none;
      color: #333;
      background-color: #dedede;
      letter-spacing: 1px;
      padding: 0.5em 1em;
      text-align: center;
    }
    a:hover, a:focus {
      background-color: #e9e9e9;
      border-color: #f2f2f2;
    }
  }
  li.menu__item is-active {
    border-right: 0;
    border-bottom: 0;
    display: block;
    @include adjust-leading-to(1);
    text-decoration: none;
  }
}

