/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

body {
  background-color: #FFF6E6;
  header {
    background: url("../images/panorama-bkgd-2.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    min-height: 275px;
    width: 100%;
    box-shadow: 0 1px 13px 0 #373737
  }
  .header__logo-image {
    display: none;
  }

  .header__site-name {
    line-height: 1;
    margin-bottom: 0.25em;
    a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: #373737;
    text-shadow: 2px 3px 3px rgba(10, 10, 10, 0.4);;
    
    }
  }
  .header__site-slogan {
    line-height: 1.25;
    font-family: 'trajan-sans-pro'; 
    font-weight: 100;
    color: #980202;
    text-shadow: 2px 3px 3px rgba(10, 10, 10, 0.4);;
  }   
}

body.about, body.front, body.apply {
  header {
    min-height: 600px;
    width: 100%;
    box-shadow: 0 1px 13px 0 #373737
  }
  .header__logo-image {
    display: none;
  }

  .header__site-name {
    line-height: 1;
    margin-bottom: 0.25em;
    a, a:hover, a:link, a:visited {
    text-decoration: none;
    color: #373737;
    text-shadow: 2px 3px 3px rgba(10, 10, 10, 0.4);;
    
    }
  }
  .header__site-slogan {
    line-height: 1.25;
    font-family: 'trajan-sans-pro'; 
    font-weight: 100;
    color: #980202;
    text-shadow: 2px 3px 3px rgba(10, 10, 10, 0.4);;
  }
}

body.about {
  header {
    background: url("../images/panorama-bkgd-2.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
  }  
    
  #block-block-5 {
    color: #fff;
    line-height: 1.25;
    font-weight: 100;
    background-color: rgba(50, 50, 50, 0.6);
    border-radius: 10px;
    padding: .5em 1.5em;
    box-shadow: 0px 5px 25px 3px #373737;
    #intesive-professional {
      font-style: italic;
      font-weight: 800;
    }
    ul {
      margin-top: 0.5em;
      list-style-image: none;
      li {
        background: url('../images/target-icon-white.png') no-repeat 0 0;
        background-size: 25px 25px;
        list-style-type: none;
        padding-left: 35px;
        margin-left: -25px;
        margin-bottom: 0.5em;
      }
    }
    #scroll-button {
      text-align: center;
    }
    img#scroll-button {
      clear: both;
      text-align: center;
      //padding-top: 1em;
      width: 50px;
    }    
  }
  #application-criteria ul {
    list-style-image: none;
    li {
      background: url('../images/checkbox-icon.png') no-repeat 0 0;
      background-size: 25px 25px;
      list-style-type: none;
      padding-left: 35px;
      margin-left: -25px;
      margin-bottom: 0.5em;
    }
  }
  
  #dates-deadlines ul {
    list-style-image: none;
    li {
      background: url('../images/calendar-icon.png') no-repeat 0 0;
      background-size: 25px 25px;
      list-style-type: none;
      padding-left: 35px;
      margin-left: -25px;
      margin-bottom: 0.5em;
    }
  }      
}


body.front {
  header {
    background: url("../images/panorama-bkgd.jpg") no-repeat scroll center top / cover  rgba(0, 0, 0, 0);
  }
  #block-block-3, #block-block-4 {
    font-weight: 100;
    text-align: center;
    #scroll-button {
      text-align: center;
    }
    img#scroll-button {
      clear: both;
      text-align: center;
      //padding-top: 1em;
      width: 50px;
    }    
    img#staff-badge {
      width: 70%;
      max-width: 480px;
      box-shadow: 0px 5px 25px 3px #373737;
    }
    #bri-logo {
    }
    #text-block {
      margin: 0;
      float: left;
      width: 67%;
    }
    img#scroll-button {
      clear: both;
      text-align: center;
      //padding-top: 1em;
      width: 50px;
    }
  }
  .pane-block-1 {
    padding: 0 1em;
    margin-top: 1.25em;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 100;
    #logo-container {
      text-align: center;
      clear: both;
      img#icenter-logo, img#bri-logo {
        vertical-align: middle;
        margin: 1em 1.5em;
        max-width: 150px;
      }
    }
    #learn-more { 
    float: right;
    margin-top: 1em;
      a {
        background-color: rgba(50, 50, 50, 0.6);
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        margin: 0.15em 0;
        padding: 0.25em 0.5em;
        text-decoration: none;
        white-space: nowrap;
      }
      a:hover, a:focus, a:active{
        background-color: #D7D5D3;
        color: #100101;
        @include transition(background-color 0.3s);
      }
    }
  }
}

body.apply {
  header {
    background: url("../images/panorama-bkgd-5.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
  }
  #block-block-8 {
    color: #fff;
    line-height: 1.25;
    font-weight: 100;
    background-color: rgba(50, 50, 50, 0.6);
    border-radius: 10px;
    padding: .5em 1.5em;
    box-shadow: 0px 5px 25px 3px #373737;
    #scroll-button {
      text-align: center;
    }
    img#scroll-button {
      clear: both;
      text-align: center;
      //padding-top: 1em;
      width: 50px;
    }
    #intesive-professional {
      font-style: italic;
      font-weight: 800;
    }
    ul {
      margin-top: 0.5em;
      list-style-image: none;
      li {
        background: url('../images/target-icon-white.png') no-repeat 0 0;
        background-size: 25px 25px;
        list-style-type: none;
        padding-left: 35px;
        margin-left: -25px;
        margin-bottom: 0.5em;
      }
    }
  }
  
}

.pane-block-2 {
  margin-top: 2em;
  #interest-form-wrapper {
    color: #fff;
    background: rgba(50, 50, 50, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    #intro-text {
      font-size: 1.25em;
      line-height: 1.5;
      font-weight: 100;
    }
  }
}

.pane-block-4 {
  text-align: center;
  img {
    box-shadow: 5px 0 9px 0 #d3d3d3;
  }
}


h1#page-title {
  margin-top: 1.5em;
}

#dates-deadlines, #application-criteria {
  border-radius: 10px;
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: 100;
  ul {
    list-style-image: none;
    li {
      background: url('../images/calendar-icon.png') no-repeat 0 0;
      background-size: 25px 25px;
      list-style-type: none;
      padding-left: 35px;
      margin-left: -25px;
      margin-bottom: 0.5em;
      div#start-application {
        display: none;
      }
    }
  }
  #start-application { 
  float: right;
  margin-top: 1em;
    a {
      background-color: rgba(50, 50, 50, 0.6);
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      margin: 0.15em 0;
      padding: 0.25em 0.5em;
      text-decoration: none;
      white-space: nowrap;
    }
    a:hover, a:focus, a:active{
      background-color: #D7D5D3;
      color: #100101;
      @include transition(background-color 0.3s);
    }
  } 
}

.crm-profile-name-Taglit_Fellow_Interest_13 {
  #crm-container-new {
    font-family: 'proxima-nova'; 
    font-weight: 100;
     input[type="text"], #crm-container.crm-public select {
       padding: 10px;
       width: 70%
    }
    .form-item {
      margin: .667em 0;
    }
    .crm-submit-buttons {
      margin: 0;
    }
    .crm-button, input[type="button"], input.form-submit {
    }
    .description {
      display: none;
    }
    .clear {
      line-height: .5;
    }
    .crm-clear-link {
      display: none;
    }
  }
}

body.apply {
  #dates-deadlines {
    #start-application {
      display: none;
    }
  }
}   

img.staff-pic {
  width: 95%;
  margin: 0 auto;
  //border-radius: 10px;
  box-shadow: 0px 5px 25px 3px #373737;
  
}

#footer {
margin-top: 1.5em;
  text-align: center;
  font-size: .9em;
  font-weight: 100;
}

.pane-block-10 {
  padding: 0 1em;
  margin-top: 1.25em;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 100;
  #logo-container {
    text-align: center;
    clear: both;
    img#icenter-logo, img#bri-logo {
      vertical-align: middle;
      margin: 1em 1.5em;
      max-width: 150px;
    }
  }
  #apply-now { 
  float: right;
  margin-top: 1em;
    a {
      background-color: rgba(50, 50, 50, 0.6);
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      margin: 0.15em 0;
      padding: 0.25em 0.5em;
      text-decoration: none;
      white-space: nowrap;
    }
    a:hover, a:focus, a:active{
      background-color: #D7D5D3;
      color: #100101;
      @include transition(background-color 0.3s);
    }
  }
}

